*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* brand colors */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* accent colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* input colors */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* error color */
    --danger: #FF5959;

    /* shape colors */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* text colors */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* Font Family */
    --logo: "Leckerli One", cursive;
    --heading: "Baloo 2", sans-serif;
    --body: "Open Sans", sans-serif;

    /* Font size/weights */
    --fw-regular: 400;
    --fw-sbold: 600;
    --fw-bold: 700;
    --fs-logo: 2.5rem;
    --heading-md: 1.75rem;
    --heading-sm: 1.125rem;
    --body-md: 1rem;
    --body-sm: .875rem;
    --body-xs: .75rem;
}

body {
    font-family: var(--body);
    color: var(--text-body);
    background-color: var(--shape-body);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* max-width: 25rem; */
    overflow: hidden;

    & p {
        font-family: var(--body);
        font-weight: 300;
        color: var(--text-heading);
    }
}

main {
    padding: 5rem 8.125rem;
    overflow: auto;
}

nav {
    max-width: 35rem;
}

header {
    margin-bottom: 2.5rem;
}

h1 {
    font-family: var(--logo);
    font-size: var(--fs-logo);
    color: var(--pink);
    margin-bottom: .25rem;
    font-weight: var(--fw-regular);
}

h2, h3 {
    font-family: var(--heading);
    color: var(--text-heading);
}

h2 {
    font-size: var(--heading-md);
}

h3 {
    font-size: var(--heading-sm);
}

fieldset {
    all: unset;
    margin-bottom: 3rem;
}

legend {
    margin-bottom: 1.5rem;
}

input, textarea {
    font-size: var(--body-md);
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .75rem;
    color: var(--input-placeholder);
}

textarea {
    font-family: var(--body-md);
}

input:focus, textarea:focus {
    color: var(--text-heading);
    outline: 1px solid var(--brand-light);
}

input:focus::placeholder, textarea:focus::placeholder {
    color: var(--text-heading);
}

input[type=datetime-local] {
    text-transform: uppercase;

    &::-webkit-calendar-picker-indicator {
    opacity: 0;
    }
}

label {
    font-size: var(--body-md);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-1 {
    gap: 1rem;
}

.gap-\.75 {
    gap: .75rem;
}

.gap-\.5 {
    gap: .5rem;
}

.item-center {
    align-items: center;
}

.mg-2\.5 {
    margin-bottom: 2.5rem;
}


.btn-primary {
    width: 7.5rem;
    height: 2.5rem;
    background-color: var(--shape-button);
    border-radius: .5rem;
    font-size: var(--body-sm);
}


.aside-container {
    padding: 2rem;
    flex-direction: column;
}

.logo-img {
    width: 2.86rem;
    height: 3rem;
}

.input-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1rem;
}

.about-title {
    grid-column: 1/3;
}

.about-radio {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: .25rem;
    gap: .25rem;


    & input[type=radio] {
        all: unset;
    }

    & div {
        padding: .5rem;
        width: 100%;
        justify-content: center;
        gap: .5rem;

        & label {
            cursor: pointer;
        }
    }

    &:has(:checked) {
        color: var(--text-heading);

        svg {
            stroke: var(--brand-light);
        }

        & div {
            background-color: var(--input-stroke);
            border-radius: .25rem;
        }
    }
}

.about-textarea {
    grid-column: 1/3;
    gap: .75rem;
}

.personalization label {
    margin-bottom: 1rem;
    color: var(--text-heading);
}

.inner-color {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--input-stroke);
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    & input {
        all: unset;
        position: absolute;
        width: 28px;
        height: 28px;
        top: 6px;
        left: 6px;
        border-radius: 50%;
    }

    & #blue {
        background-color: var(--brand-light);
    }

    & #navy {
        background-color: var(--navy);
    }

    & #purple {
        background-color: var(--purple);
    }

    & #fuschia {
        background-color: var(--fuschia);
    }

    & #pink {
        background-color: var(--pink);
    }

    & #red {
        background-color: var(--danger);
    }

    & #orange {
        background-color: var(--orange);
    }

    & #yellow {
        background-color: var(--yellow);
    }

    & #lime {
        background-color: var(--lime);
    }

    & #green {
        background-color: var(--green);
    }

    & #cyan {
        background-color: var(--cyan);
    }

    &:hover {
    background-color: var(--shape-hover);
    }

    &:has(:checked) {
    outline: 2px solid var(--brand-light);
    }
}

.event-wrapper {
    flex-wrap: wrap;
    gap: .5rem;
}

.inner-event {
    width: 8.375rem;
    height: 6.4rem;
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    flex-direction: column;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        cursor: pointer;
    }

    & img {
        max-width: fit-content;
        padding-inline: 4px;
        padding-top: 4px;
        padding-bottom: 8px;
    }

    & label {
        font-weight: 300;
        font-size: var(--body-sm);
        padding-bottom: 8px;
        cursor: pointer;
    }

    &:hover {
        background-color: var(--shape-hover);
    }

    &:has(:checked) {
        outline: 2px solid var(--brand-light);
    }
}

.style-wrapper {
    flex-direction: column;
    margin-right: 3.5rem;
}

.toggle-wrapper {
    position: relative;
    height: 3rem;

    &:has(input:checked) {
        #lb-dark {
            opacity: 0;
        }

        #lb-light {
            opacity: unset;
        }
    }

    & label {
        margin-top: 14.5px;
    }
}

#style {
    color: var(--text-body);
}

.inner-style {
    position: relative;
    width: 4rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;
    transition: .4s;

    & .style-dot {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: var(--input-stroke);
        margin-top: 3px;
        margin-left: 3px;
        transition: .4s;
    }

    & input {
        position: absolute;
        opacity: 0;
        top: 0;
        width: 4rem;
        height: 2rem;
        border-radius: 999px;
        cursor: pointer;
    }

    &:has(:checked) {
        background-color: var(--brand-light);

        & .style-dot {
            background-color: var(--text-heading);
            transform: translateX(32px);
            position: absolute;
        }
    }
}

#lb-dark {
    position: relative;
}

#lb-light {
    opacity: 0;
    position: absolute;
    margin-left: 4.75rem;
}

.cover-photo {
    flex-direction: column;
}

.inner-lb {
    justify-content: center;
    top: .75rem;
}

input[type="file"] {
    display: none;
}

.contact-info {
    width: 100%;

    & .info-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        
        & .inner-data {
            grid-column: 1/2;
        }
    }

    & .error-wrapper {
        gap: .5rem;
        color: var(--danger);
        display: none;
    }

    & input {
        height: 3rem;
    }

    & input:user-invalid {
        border-color: var(--danger);
        outline: none;
    }

    & input:user-invalid + .error-wrapper,
    input:user-invalid ~ .error-wrapper {
        display: flex;
    }
}


.terms {
    padding-top: 2.5rem;
    width: 100%;
    border-top: 1px solid var(--shape-hover);
}

.terms-wrapper {
    gap: .25rem;

    & input {
        all: unset;
        cursor: pointer;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: .25rem;
        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);

        &:user-invalid {
            border-color: var(--danger);

            &:focus {
                border-color: var(--danger);
            }
        }

        &:focus {
            border-color: var(--brand-light);
        }

        &:checked {
            border-color: var(--brand-light);
            background-image: url(assets/icons/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    & div {
        height: 1.75rem;
    }

    & label {
        cursor: pointer;
        font-size: var(--body-sm);
    }

    & a {
        color: var(--brand-light);
    }
}

.submit-button {
    justify-content: end;

    button {
        all: unset;
        font-weight: 500;
        font-size: 1rem;
        color: var(--text-heading);
        text-align: center;
        cursor: pointer;

        &.btn-primary {
            display: flex;
            gap: .75rem;
            padding-inline: 1.25rem;
            padding-block: .875rem;
            border-radius: .5rem;
            background-color: var(--brand-dark);

            &:hover {
                background-color: var(--brand-mid);
            }
        }
    }
}


@media (width >= 120em) {
    .aside-container {
        padding: 3rem;

        .logo-img {
            width: 5.72rem;
            height: 6rem;
        }
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (width <= 26rem) {
    aside {
        display: none;
    }
}